body {
    font-family: "Roboto", sans-serif;
    background: #E5E5E5;
    color: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin: 0;}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

:root {
    --brand-color: #4D5AE5;
    --footer-background-color: #2e2f42;
    --pressed-state-color: #404BBF;
}

.list {
list-style: none
}

.container {
width: 1158px;
padding: 0 15px 0 15px;
margin: 0 auto;
background-color: #FFFFFF;
justify-items: center;
padding: 0 15px 0 15px;
}

/**-------------------------- Header ------------------------*/

.flex-list {
display: flex;
align-items: center;
gap: 40px;
}

.flex-address {
display: flex;
align-items: center;
gap: 40px;
}

.flex-nav {
display: flex;
align-items: center;
padding: 24px 0 24px 0;
}

.header {
background: #FFFFFF;
border-bottom: 1px solid #E7E9FC;
display: flex;
flex-direction: row;
}

.logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--brand-color);
margin-right: 76px;
}

.logo-header {
color: var(--footer-background-color);
}

.navigation-list {
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--footer-background-color);
padding: 24px 0 24px;
}

.address {
font-style: normal;
margin-left: auto;
}

.contacts {
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.navigation-list:hover {
color: var(--pressed-state-color);
}

.contacts:hover {
color: var(--pressed-state-color);
}

.navigation-list:focus {
color: var(--pressed-state-color);
}

.contacts:focus {
color: var(--pressed-state-color);
}
/**---------------------------- Filter -------------------------*/

.flex-filter { display: flex;
gap: 24px; 
justify-content: center;
margin-bottom: 72px;
}

.section-projects {
    background-color: #FFFFFF;
    padding: 96px 0 120px 0;
}

.filter-button {
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
text-align: center;
letter-spacing: 0.04em;
color: var(--brand-color);
background: #F4F4FD;
border: 1px solid #E7E9FC;
border-radius: 4px;
cursor: pointer;
padding: 12px 24px;
min-width: 69px;
white-space: nowrap;
}

.filter-button:hover {
    background: var(--pressed-state-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
    border: 1px solid transparent;
}

.filter-button:focus {
    background: var(--pressed-state-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
    border: 1px solid transparent
}

/**--------------------------- Projects ---------------------------------*/

.projects {
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
    column-gap: 24px;
    justify-content: center;
    background-color: #FFFFFF;
    row-gap: 48px;
}

.project-item { width: calc((100% - 48px) / 3) }

.project-box { padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
margin-bottom: 8px; }

.container-projects { width: 1158px;
    padding: 0px 0px 60px 0px;
    margin: 0 auto;
    background-color: #FFFFFF; }

.projects-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--footer-background-color);
    padding-top: 32px;
}

.projects-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/**--------------------- footer -----------------------------*/

.footer {
    background-color: #2e2f42;
}

.container-footer {
    width: 1158px;
    padding: 50px 15px;
    margin: 0 auto;
    background-color: #2e2f42;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-studio {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding-top: 16px;
    max-width: 264px;
}